
 body{
    margin-top:70px;
    background:#333;
    color:#fff;
  }
  .card-primary{
    background:rgb(31, 99, 245) ;
}
.card-danger{
    background: rgb(214, 45, 45);
}
.card-success{
    background:rgb(6, 150, 90);
}
.wrap{
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
}